@import "tailwindcss";

/* globals.css */

@font-face {
  font-family: "Aboreto";
  src: url("/fonts/Aboreto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Artifika";
  src: url("/fonts/Artifika-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.abo {
  font-family: "Aboreto", serif;
}

.arti {
  font-family: "Artifika", serif;
}

#trips_page{
  background: #ffffff;
}

#carou{
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #acacac; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar{
  width: 5px;
  height: 8px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: content-box;
  overflow-x: hidden;
}

section {
  margin-top: 3rem;
}

footer{
  margin-top: 5rem;
}

