@import "tailwindcss";

/* globals.css */

@font-face {
  font-family: "Aboreto";
  src: url("/fonts/Aboreto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Artifika";
  src: url("/fonts/Artifika-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.abo {
  font-family: "Aboreto", serif;
}

.arti {
  font-family: "Artifika", serif;
}

.bg{
  background: #e8e8da;
  overflow-y: scroll;
}

#carou{
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #242D13; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a7527; 
}

::-webkit-scrollbar{
  width: 5px;
  height: 8px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: content-box;
  overflow-x: hidden;
}

section {
  margin-top: 3rem;
}

footer{
  margin-top: 5rem;
}

/* app/globals.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.signup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.signup-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}


/* Range Slider Trips */
.range-slider{
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 7.5px;
}

.range-slider > input{
  border: none;
  outline: none;
  width: 30%;
  text-align: center;

  /* text-align: left;
  padding-left: .5rem; */
  color: #e8e8da;
  background-color: #5a7527;
  border-top-right-radius: .5rem;
  /* border-bottom-left-radius: .5rem; */
  font-size: 12px;
  line-height: 2rem;
}

.range{
  width: 100%;
  display: grid;
  position: relative;
  z-index: 1;
}

.range input{
  grid-row: 2;
  grid-column: 1;
  pointer-events: none;
  appearance: none;
  background: transparent;
}

.range input::-webkit-slider-thumb{
  pointer-events: auto;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #38471c;
  border-radius: 50%;
  cursor: pointer;
}

.slider{
  position: absolute;
  height: 6px;
  width: 100%;
  background: #c8c8c8;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
}

.progress{
  position: absolute;
  height: 100%;
  background: #5a7527; 
}

/* date-picker */
.datepicker{
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.calendar{
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.side{
  padding: .5rem;
}

.controls{
  padding: 0px 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.controls button{
  touch-action: manipulation;
}

.controls button.prev{
  justify-self: start;
}

.controls button.next{
  justify-self: end;
}

.controls strong.label{
  grid-column: 2;
  font-weight: 600;
  text-transform: uppercase;
}

.days, .dates{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 14%);
}

.days{
  margin-top: .5rem;
  font-weight: 600;
}

.dates span{
  aspect-ratio: 3/2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  color: #5a7527;
}

.dates span:hover{
  background-color: #5a752722;
}

.dates span.disabled{
  color: #242D1333;
  position: none;
}

.dates span.today{
  background: #5a752799;
  color: #e8e8da;
  border-radius: .75rem 0rem .75rem 0rem;
}

.dates span.start_range{
  background: #5a7527;
  color: #e8e8da;
  border-radius: .75rem 0rem 0rem 0rem;
}

.dates span.end_range{
  background: #5a7527;
  color: #e8e8da;
  border-radius: 0rem 0rem .75rem 0rem;
}

.dates span.in_range{
  background: #5a752788;
  color: #e8e8da;
  border-radius: 0rem;
}

.action-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  grid-column: span 2;
  padding: 0.5rem 1rem;
}

.action-menu button{
  padding: .25rem .75rem;
  border-radius: .75rem 0rem;
}

.action-menu button.cancel{
  margin-left: auto;
  background-color: #5a752733;
  color: #5a7527;
}

.action-menu button.apply{
  background-color: #5a7527;
  color: #e8e8da;
}
